// Imports
$fa-font-path: "../fontawesome/webfonts" !global;

@import "../../../node_modules/bootswatch/dist/morph/_variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootswatch/dist/morph/_bootswatch";
@import "../../../node_modules/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/fontawesome-free/scss/brands.scss";
@import "../../../node_modules/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/fontawesome-free/scss/solid.scss";

$fonts-main: (Helvetica, Arial, sans-serif);

body {
  font-family: $fonts-main;
  background-image: linear-gradient(69deg,rgb(0, 0, 0), rgb(68, 9, 83), rgb(73, 8, 8));
  min-height: 100vh;
}